@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("v882-kul-36.jpg");
    background-color: #F8F8F8;
    text-align: center;
    margin: auto;
    overflow-x: hidden;
}

main {
/*     background-image: url("linha\ teste.png"); */
    background-repeat: no-repeat;
    max-width: 1980px;
    text-align: center;
    margin: auto;
}

html {
    scroll-behavior: smooth;
  }

.linhas {
    position:sticky;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 100px;
    overflow-y: hidden;
}


li, a, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 26px;
    color: white;
    text-decoration: none;
}

header {
    position: relative;
    background-color: #f67828

}

.divheader {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: center;
    padding: 1px 1%;
    border-bottom: 20px;
    max-width: 1980px;
    text-align: center;
    margin: auto;
   
}

.logo {
    cursor: pointer;
    margin-right: auto;
    height: 200px;
}

.nav__links {
    list-style: none;

}

.nav__links li{
    display: inline-block;
    padding: 0px 10px;

}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: black;
}

button {
    --bg: #000;
    --hover-bg: rgb(255, 0, 0);
    margin-left: 20px;
    color: #fff;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
  }
  
button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  
button:active {
    transform: translate(0);
    box-shadow: none;
  }


.imagens_rolantes img {
    position: relative;
    width: 100%;
    border-radius: 70px;
}


  .container {
    display: inline-block;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 30px 30px 30px;
  }

  #compras {
    scroll-behavior: smooth;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    overflow-x: hidden;

  }
  
  .card {
    width: 300px;
    height: 360px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
   }
   
   .card-img {
    position: relative;
    bottom: 30px;
    right: 190px;
    height: 40%;
    width: 100%;
    transition: .3s ease;
   }
   
   .card-info {
    padding-top: 20%;
   }
   
   .svg-icon {
    font-weight: 500;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    flex-direction: column;
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    font-size: 20px;
    background-color: #ff9600;
    display: flex;
    margin-top: 10px;
    padding: .3em .9em .3em .9em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-25%);
   }
   
   .card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #c26311;
   }
   

.precos {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.precos h1, .precos h5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    color: #ffffff;
    align-items: center;
    font-size: 22px;
    font-weight: 800;
    justify-content: space-evenly;
    flex-flow: row wrap;
    display: flex;
    background-color: #f67828;
    padding: 70px;
}